.background {
    width:100vw;
    height:100vh;
    object-fit:cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
}
body {
    font-family: "Bellefair", serif;
    overflow-x: hidden;
    background-color: black;
}
.navbar-brand {
    font-size: clamp(50px, 4vw, 90px);
    padding-left:25px;
}
.navbar-nav {
    font-size: clamp(25px, 2.3vw, 50px);
    padding-right: 20px;
}
.page {
    padding-top: 20px;
    align-items: center;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.navbar-dark .navbar-nav .nav-link.active {
    color:#d53c3c;
}
.nav-link {
    margin-right: 10px;
}
.footer{
    background: url('/images/website/menufooter.png');
    height:500px;
}
.icon {
    width: 30px;
    background-color: white;
    border-radius: 51%;
    border: 0px;
}

.brand-name {
    color:white;
    position: relative;
    bottom:65px;
    padding-left: 100px;
}
.brand-name h1 {
    font-size: clamp(60px, 6vw, 90px);
    margin-bottom: 0;
    text-shadow: 10px 10px 10px black;
}
.brand-name p {
    font-size: clamp(6px, 0.8vw, 13px);
    margin-top: 0;
}
.others {
    display:flex;
    justify-content: right;
    margin-right: 200px;
    color:white;
}
.others ul {
    list-style-type: none;
    margin-left: 60px;
}
.others li {
    font-size: 40px;
}
.others a {
    text-decoration: none;
    color: white;
}
.phone {
    font-size: 25px;
    margin-bottom: 0;
    color:#b23a48;
}
.ifempty {
    color:white;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.actual {
    display: flex;
    gap:10%;
    justify-content: center;
    color:white;
    background-color: #2e0d16cf;
    padding-top: 60px;
    padding-bottom: 150px;
}
.foodcard {
    display: flex;
    justify-content: space-evenly;
    width:40vw;
    border: 1px white solid;
    padding:20px;
    margin-bottom: 20px;
}
.foodcard img{
    border-radius: 50%;
    width:7vw;
    height: 7vw;
    object-fit: cover;
}
.texts {
    flex: 3.5;
    margin-left:3vw;
    text-align: left;
}
.texts h5{
    font-size: clamp(10px, 2.7vw, 50px);
}
.forquantity {
    display:flex;
}
.forquantity button {
    border: 0;
    background-color: #00000000;
    color:white;
    font-size: clamp(7px, 2vw, 35px);
    height:30px;
    text-align: center;
    align-items: center;
}
.forquantity p {
    border: 0;
    background-color: #ffffffd6;
    color:#d53c3c;
    font-size: clamp(8px, 1.7vw, 30px);
    border-radius: 20px;
    width: 3vw;
    text-align: center;
    align-items: center;
    margin-bottom: 0;
    padding:0;
}
.prices {
    flex: 1;
    font-size: clamp(10px, 2.7vw, 50px);
    text-align: right;
}
.hr {
    background-color:#b23a48;
    margin-top: 10px;
    height: 2px;
}
.total {
    margin-top: 20px;
}
.total h1 {
    font-size: clamp(20px, 3vw, 60px);
    text-align: right;
    padding-right: 13px;
    text-shadow: 0 0 4px white;
}
.info {
    min-width: 40vw;
}
.inputs {
    display: flex;
    gap:10%;
    margin-bottom: 30px;
}
.details {
    display: flex;
    gap:10%;
    margin-bottom: 30px;
}
.inputs div {
    display: flex;
    flex-flow: column;
}
input {
    background-color: #8c2f39;
    color:white;
    border: 0;
    border-radius: 15px;
    font-size: clamp(7px, 1.2vw, 20px);
    padding: 5px;
    padding-left: 12px;
}
input::placeholder {
    color:#2e0d16;
}
input[type="radio"] {
  accent-color: #9c0529;
  width:2.5vw;
  height: 2.5vh;
}
.info button {
    width:100%;
    background-color: white;
    color:#d53c3c;
    border: 0;
    border-radius: 35px;
    font-size: clamp(10px, 1.7vw, 30px);
}
.inputs label {
    font-size: clamp(10px, 2.7vw, 50px);
}
.details h2 {
    font-size: clamp(10px, 2.7vw, 50px);
}
.details label {
    font-size: clamp(10px, 1.7vw, 35px);
}
.carding {
    display: flex;
    flex-flow: column;
    font-size: clamp(10px, 1.5vw, 25px);
    width: 70%;
}
.inputs1 {
    display: flex;
    gap:10%;
    margin-bottom: 15px;
    margin-top: 15px;
}
.inputs1 label {
    font-size: clamp(10px, 1.5vw, 25px);
}
.addcard {
    margin-bottom: 40px;
}
.cvv {
    display: flex;
    flex-flow: column;
    width: 30%;
    font-size: clamp(10px, 1.5vw, 25px);
}
.addcard input {
    background-color: #8c2f39;
    color:white;
    border: 0;
    border-radius: 15px;
    font-size: clamp(7px, 0.7vw, 20px);
    padding: 5px;
    padding-left: 12px;
}
.inputs1 div {
    display: flex;
    flex-flow: column;
}
#answer {
    text-align: center;
    align-items: center;
    font-size: clamp(10px, 1.5vw, 30px);
    padding-top:50px;
}