.background {
    width:100vw;
    height:100vh;
    object-fit:cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
}
body {
    font-family: "Bellefair", serif;
    overflow-x: hidden;
    background-color: black;
}
.navbar-brand {
    font-size: clamp(50px, 4vw, 90px);
    padding-left:25px;
}
.navbar-nav {
    font-size: clamp(25px, 2.3vw, 50px);
    padding-right: 20px;
}
.page {
    padding-top: 20px;
    align-items: center;
    height: 949px;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.navbar-dark .navbar-nav .nav-link.active {
    color:#d53c3c;
}
.nav-link {
    margin-right: 10px;
}
.footerbackground {
    width:100vw;
    height:55vh;
    object-fit:cover;
    position: absolute;
    top: 950px;
    left: 0;
    z-index:-1;
}
.icon {
    width: 30px;
    background-color: white;
    border-radius: 51%;
    border: 0px;
}

.brand-name {
    color:white;
    position: relative;
    bottom:65px;
    padding-left: 100px;
}
.brand-name h1 {
    font-size: clamp(60px, 6vw, 90px);
    margin-bottom: 0;
    text-shadow: 10px 10px 10px black;
}
.brand-name p {
    font-size: clamp(6px, 0.8vw, 13px);
    margin-top: 0;
}
.others {
    display:flex;
    justify-content: right;
    margin-right: 200px;
    color:white;
}
.others ul {
    list-style-type: none;
    margin-left: 60px;
}
.others li {
    font-size: 40px;
}
.others a {
    text-decoration: none;
    color: white;
}
.phone {
    font-size: 25px;
    margin-bottom: 0;
    color:#b23a48;
}
.authorise {
    color:white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height:600px;
}
.authorise h1 {
    font-size: clamp(70px, 5vw, 90px);
}
.inputs {
    border-radius: 15px;
    border: 0;
    padding-left: 10px;
}
.inputs:focus {
    border-radius: 15px;
    border: 0;
    padding-left: 10px;
}
.texts {
    display: flex;
    gap:10px;
}
button {
    border: 0;
    border-radius: 15px;
    font-size: 16px;
}
form {
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    color:#d6374a;
}
.red {
    color:#d30000;
}