body {
    background-color: black;
}
.background {
    width:100vw;
    height:100vh;
    object-fit:cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
}
body {
    font-family: "Bellefair", serif;
    overflow-x: hidden;
}
.navbar-brand {
    font-size: clamp(50px, 4vw, 90px);
    padding-left:25px;
}
.navbar-nav {
    font-size: clamp(25px, 2.3vw, 50px);
    padding-right: 20px;
}
.page {
    padding-top: 20px;
    align-items: center;
    height: 380px;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.navbar-dark .navbar-nav .nav-link.active {
    color:#d53c3c;
}
.nav-link {
    margin-right: 10px;
}
.footer{
    background: url('/images/website/menufooter.png');
    height:500px;
}
.icon {
    width: 30px;
    background-color: white;
    border-radius: 51%;
    border: 0px;
}

.brand-name {
    color:white;
    position: relative;
    bottom:65px;
    padding-left: 100px;
}
.brand-name h1 {
    font-size: clamp(60px, 6vw, 90px);
    margin-bottom: 0;
    text-shadow: 10px 10px 10px black;
}
.brand-name p {
    font-size: clamp(6px, 0.8vw, 13px);
    margin-top: 0;
}
.others {
    display:flex;
    justify-content: right;
    margin-right: 200px;
    color:white;
}
.others ul {
    list-style-type: none;
    margin-left: 60px;
}
.others li {
    font-size: 40px;
}
.others a {
    text-decoration: none;
    color: white;
}
.phone {
    font-size: 25px;
    margin-bottom: 0;
    color:#b23a48;
}
.fronttext {
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
    margin-top: 150px;
}
.fronttext h1 {
    color:white;
    font-size: clamp(70px, 7.5vw, 130px);
    margin-bottom: 0;
    text-shadow: 10px 10px 10px black;
}
.menupagediv {
    color:white;
    background-image: url("/images/website/menupage.png");
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-position: top center;
    padding-top: 100px;
    text-align: center;
    padding-bottom: 100px;
}
.nav-item .nav-link {
    color:white;
    font-size: clamp(20px, 2vw, 40px);
}
.nav-item {
    margin-left: 20px;
    margin-right: 20px;
}
.nav-item .nav-link.active {
    color:#d53c3c;
    background-color: #b23a4800;
    border-bottom: #d53c3c 3px solid;
}
.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    font-size: clamp(40px, 4vw, 60px);
}

.section-title::before,
.section-title::after {
    content: "";
    flex: 1;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.7);
}
.tab-content {
    margin-top: 70px;
}
.foodimg {
    border-radius: 50%;
    width:12vw;
    height: 12vw;
    object-fit: cover;
}
.foodtext {
    margin-top: 20px ;
}
.foodcard {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.foodbutton {
    color:#d53c3c;
    background-color: rgba(255, 255, 255, 0.89);
    border-radius: 15px;
    border: 0;
    padding: 5px;
    width:40%;
    font-weight: bold;
}
.foodbutton:hover {
    color:white;
    background-color: #d53c3ce3;
    border-radius: 15px;
    border: 0;
    padding: 5px;
    width:40%;
    font-weight: bold;
}
.foodcard h3 {
    font-size: clamp(30px, 2.5vw, 50px);
}
.foodcard p {
    font-size: clamp(15px, 1.5vw, 20px);
    color:#bc4141;
}
.row {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}