body {
    background-color: #000000;
}
.background {
    width:100vw;
    height:100vh;
    object-fit:cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
}
body {
    font-family: "Bellefair", serif;
    overflow-x: hidden;
}
.navbar-brand {
    font-size: clamp(50px, 4vw, 90px);
    padding-left:25px;
}
.navbar-nav {
    font-size: clamp(25px, 2.3vw, 50px);
    padding-right: 20px;
}
.page {
    padding-top: 20px;
    align-items: center;
    height: 840px;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.navbar-dark .navbar-nav .nav-link.active {
    color:#d53c3c;
}
.nav-link {
    margin-right: 10px;
}
.center {
    text-align: center;
}
.front {
    margin-top: 120px;
    color: rgb(255, 255, 255);
}
.name{
    font-size: clamp(100px, 11vw, 200px);
    margin-bottom: 0;
    line-height: 1;
    text-shadow: 10px 10px 10px black;
}
.desc {
    font-size: clamp(20px, 2.5vw, 50px);
    margin-top: 0px;
    line-height: 1;
}
.btn {
    margin-top: 25px;
    border-radius: 35px;
    font-size: clamp(20px, 2vw, 35px);
    padding-left: 40px;
    padding-right: 40px;
}
.book {
    background-color: #ffffff;
    color :#b23a48;
}
.menu {
    background-color: #b23a48d4;
    color:white;
}
.book:hover {
    background-color: #ffffffc8;
    color :#d81e52;
}
.menu:hover {
    background-color: #d53b4de8;
    color:white;
}
.menubackground {
    width:100vw;
    height:100vh;
    object-fit:cover;
    position: absolute;
    top: 1790px;
    left: 0;
    z-index:-1;
}
.viewmenu {
    color:white;
    padding-top: 110px;
    font-size: clamp(50px, 6.7vw, 80px);
    line-height: 1;
    padding-left: 50px;
}
.menupage{
    height: 840px;
}
.menucards {
    padding-left: 20px;
    padding-right:20px;
    padding-top: 80px;
}
.card img{
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.card{
    border-radius: 30px;
    max-width: 300px;
    margin-inline: auto;
    background-color: #501520;
}
.card:hover {
    box-shadow: 5px 5px 20px #000000;
}
.card a{
    text-decoration: none;
    color:#ffffff;
}
.card a:hover{
    color:#dbd1d1;
}
.card h5 {
    font-size:clamp(20px, 2.7vw, 55px);
    border-radius: 30px;
}
.card-body {
    border:0;
    padding: 10px;
    padding-left: 20px;
}
.card-title {
    margin-bottom: 0;
}
.special{
    height: 840px;
}
.specialbackground {
    width:100vw;
    height:100vh;
    object-fit:cover;
    position: absolute;
    top: 2630px;
    left: 0;
    z-index:-1;
}
video {
    height:840px;
    float:right;
    margin-right: 5%;
    margin-left:2%;
}
.stext {
    color:white;
    padding-top:200px;
    padding-left: 50px;
}
.stext h1{
    font-size: clamp(90px, 9vw, 150px);
    margin-bottom: 50px;
}
.stext h3 {
    font-size: clamp(60px, 3.5vw, 110px);
    color:#d53c3c;
}
.stext p {
    font-size: clamp(30px, 2.5vw, 70px);
    margin-bottom: 30px;
}

.scroller {
  background: #000000; 
  overflow: hidden;
  height: 40px;      
  display: flex;
  align-items: center;
}

.scroller__inner {
  display: flex;
  flex-wrap: nowrap;   
  gap: 4rem;
  color: white;
  font-size: clamp(16px, 1.5vw, 28px);
  white-space: nowrap; 
  font-style: italic;
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 40s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 90s;
}
.scroller__inner {
  list-style: none;
  padding: 0;
  margin: 0;
}

.scroller__inner li {
  display: inline-flex;
  align-items: center;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
.reviews {
    padding-top:90px;
    background-color: black;
    padding-bottom:150px;
}
.footerbackground {
    width:100vw;
    height:63vh;
    object-fit:cover;
    position: absolute;
    top: 4670px;
    left: 0;
    z-index:-1;
}
.icon {
    width: 30px;
    background-color: white;
    border-radius: 51%;
    border: 0px;
}
.about {
    height: 850px;
    background:black;
    display:flex;

}
.atext {
    color: white;
    padding-right:50px;
    text-align: right;
    padding-top: 137px;
}
.atext h1 {
    font-size: clamp(70px, 6vw, 100px);
    margin-bottom: 60px;
}
.atext p {
    font-size: 30px;
}
.extra {
    background-color: black;
    height:100px;
}
.under {
    color:white;
}
.extra1 {
    background-color: black;
    height:50px;
}
.brand-name {
    color:white;
    position: relative;
    bottom:65px;
    padding-left: 100px;
}
.brand-name h1 {
    font-size: clamp(60px, 6vw, 90px);
    margin-bottom: 0;
    text-shadow: 10px 10px 10px black;
}
.brand-name p {
    font-size: clamp(6px, 0.8vw, 13px);
    margin-top: 0;
}
.others {
    display:flex;
    justify-content: right;
    margin-right: 200px;
    color:white;
}
.others ul {
    list-style-type: none;
    margin-left: 60px;
}
.others li {
    font-size: 40px;
}
.others a {
    text-decoration: none;
    color: white;
}
.phone {
    font-size: 25px;
    margin-bottom: 0;
    color:#b23a48;
}
.maptext {
    color:white;
    background-color: #000000;
    display: flex;
    gap:10%;
    padding-left: 50px;
    border: #ffffff 1px solid;
    padding-top: 30px;
    padding-bottom: 30px;
}
.maptext1 {
    color:white;
    background-color: #000000;
    padding-left: 50px;
    border: #ffffff 1px solid;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    text-align: center;
}
.maptext1 h1 {
    font-size: clamp(35px, 3vw, 60px);
    margin-bottom: 0;
}
.maptexts {
    display: flex;
    flex:1;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.maptexts p {
    font-size: clamp(25px, 1.5vw, 35px);
    margin-bottom: 0;
    flex:1;
}
.mapdiv {
    margin-top: 10px;
    margin-bottom: 10px;
    padding:10px;
    background-color: #000000;
}
.redtext {
    color:#ff3a3a;
}
ul .address {
    font-size: 27px;
}